body {
	font-family: monospace;
	font-size: 18px;
}

ul {
	list-style: none;
    padding: 0;
    margin: 0;
}


li.statement {
	padding: 6px;
	&.selected {
		background: black;
		color: white;
	}

	&.selected.placeholder {
		background: green;
	}

	ul.nodes {
		display: inline;
	}

	span.statement-node {

		cursor: pointer;
		position: relative;
		border: 1px white solid;

		input {
			border: medium none;
			font-family: monospace;
			font-size: 16px;
		}

		padding: 0 3px;

		&.selected {

			background: #eee;
			color: black;

			&.edit {
				background: white;
			}
		}

		.suggestion-container {
			display: none;
			position: absolute;
			background: none repeat scroll 0 0 white;
			box-shadow: 0 2px 2px #999999;
			color: black;
			padding: 12px;
			left: -1px;
			z-index: 100;
			position: absolute;

			.suggestion {
				margin: 6px 0;

				&.selected {
					font-weight: bold;
				}
			}
		}
	}
}

#stdout {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}
