body {
	font-family: monospace;
	font-size: 18px;
}

ul {
	list-style: none;
    padding: 0;
    margin: 0;
}


li.statement {
	padding: 6px;
	&.selected {
		background: black;
		color: white;
	}

	&.selected.placeholder {
		background: green;
	}

	ul.nodes {
		display: inline;

		li {
			display: inline;
		}
	}

	span.statement-node {

		cursor: pointer;

		input {
			border: medium none;
			font-family: monospace;
			font-size: 16px;
		}

		padding: 0 3px;

		&.selected {
			border: 1px white solid;

			&.edit {
				background: white;
			}
		}
	}
}

#stdout {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}
