<html>
	<head>
		<script type="text/javascript" src="/static/js/jquery.js" /></script>
		<script type="text/javascript" src="/static/js/underscore.js" /></script>
		<script type="text/javascript" src="/static/js/backbone.js" /></script>
		<script type="text/javascript" src="/static/js/backbone.relational.js" /></script>
		<script type="text/javascript" src="/static/js/marionette.js" /></script>
		<script type="text/javascript" src="/static/js/index.js" /></script>

		<link rel="stylesheet/less" type="text/css" href="/static/css/index.less" />
		<script src="/static/js/less.js" type="text/javascript"></script>
	</head>
	<body>
		<div>
			<ul id="statements"></ul>

			<ul id="new-statement-links">
				<li><a href="#" id="new-define-statement">New Define Statement</a></li>
				<li><a href="#" id="new-mutate-statement">New Mutate Statement</a></li>
			</ul>
            <a id="execute-link" href='#'>Execute</a>
            <div id="stdout"></div>
		</div>

		<script type="text/html" id="define-statement-tmpl">
			DEFINE: <%= symbol.value %> = <%= value.value %>
		</script>

		<script type="text/html" id="mutate-statement-tmpl">
			MUTATE: <%= symbol.value %>
			<% _.each(params, function(param){ %>
				<%= param.value %>
			<% }); %>
		</script>

		<script type="text/html" id="statement-node-tmpl">
			<%= value %>
		</script>

		<script type="text/html" id="result-tmpl">
			<%= value %>
		</script>
	</body>
</html>