<html>
	<head>
		<link rel="stylesheet/less" type="text/css" href="/static/css/index.less" />
		<script data-main="static/js/app/main" src="/static/js/app/lib/require.js"></script>
 	</head>
	<body>
		<div>
			<div id="blocks"></div>
            <a id="execute-link" href='#'>Execute</a>
            <div id="mode"></div>
            <div id="stdout"></div>
		</div>

		<script type="text/html" id="statement-tmpl">
			<%= type %>
			<ul class="nodes"></ul>
		</script>

		<script type="text/html" id="statement-node-tmpl">
			<% if(isEditMode() && selected) { %>
				<input value="<%= value %>" />
				<div class="suggestion-container"></div>
			<% } else { %>
				<span><%= value %></span>
			<% } %>
		</script>

		<script type="text/html" id="result-tmpl">
			<%= value %>
		</script>

		<script type="text/html" id="placeholder-statement-tmpl">
			m: mutate, d: define
		</script>

		<script type="text/html" id="suggestion-tmpl">
			<%= symbol %>
		</script>

		<script type="text/html" id="block-tmpl">
			<div class="block-type">
				<%= type %>
			</div>
			<ul class="statements"></ul>
		</script>

		<script type="text/html" id="fn-block-tmpl">
			<div class="block-type">
				<%= type %>: <%= getFnName() %>
			</div>
			<div class="fn-info-container">
			</div>
			<ul class="statements"></ul>
		</script>

		<script type="text/html" id="fn-info-tmpl">
			<ul class="fields"></ul>
		</script>

		<script type="text/html" id="fn-info-field-tmpl">
			<%= type %>:

			<% if(isFnInfoMode() && selected) { %>
				<input value="<%= value %>" />
				<div class="suggestion-container"></div>
			<% } else { %>
				<span><%= value %></span>
			<% } %>
		</script>

		<script type="text/html" id="fn-param-field-tmpl">
			<%= type %>: <ul class="param-container"></ul>
		</script>

		<script type="text/html" id="fn-param-tmpl">
			<span class="fn-param-name"><%= name %></span>:<span class="fn-param-type"><%= type %></span>
		</script>
	</body>
</html>